DATABASE_URL = mongodb://root:example@localhost:27017

PORT=4008

UPDATE_ROOM_AVAILABLE_DATES = 'http://localhost:4010/room-availability'

EMAIL_SERVICE='http://localhost:4010/room'

ALLOWED_ORIGINS=http://localhost:8081 , http://127.0.0.1:8081, http://localhost:4003,http://localhost:4000,http://localhost:4008,http://localhost:4010,http://localhost:8001
BASE_URL_BOOKING=http://localhost:4010

QUEUE_URL='amqp://localhost'

